extends layout

block content

  .enterWrap
    a(href='https://github.com/jaygould/web-rtc-playground') To check for updates and read instructions
    
    .buttons
      a.btn(href='/showCamera') Show Camera Demo
      a.btn(href='/recordCamera') Record Camera Demo
