extends layout

block content
  script.
    window.onload = (e) => { 
      recordCamera();    
    }


  
  .enterWrap
    video#localVideo.vid(autoplay muted playsInline)
    video#recordedVideo.vid(autoplay muted playsInline)

    .buttons
      a#startBtn.btn Start recording
      a#stopBtn.btn Stop recording
